@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
  src: url("./assets/fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf") format("truetype");
}

.fab {
  font-family: 'Open Sans Condensed';
  font-weight: 400;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}